:root {
  --Very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --Very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-dark-blue-main-bg);
  margin: 0px;
  font-family: "Outfit", sans-serif;
}

main {
  background-color: var(--Very-dark-blue-card-bg);
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 15px;
}

h1 {
  color: var(--White);
}

h1:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.topImage {
  position: relative;
  border-radius: 15px;
}

.topImage:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  background-color: var(--Cyan);
  cursor: pointer;
}

.topImage__eye--style {
  max-height: 250px;
  border-radius: 15px;
  position: absolute;
}

.hide {
  display: none;
}

.lowerOpacity {
  opacity: 0.3;
}

.topImage--style {
  width: 100%;
  border-radius: 15px;
  max-height: 250px;
  position: relative;
}

.topImage__content--style {
  font-size: 18px;
  color: var(--Soft-blue);
}

.lowerContent {
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--Very-dark-blue-line);
}

.lowerContent__title--container {
  color: var(--Cyan);
  display: flex;
  align-items: center;
  flex: 1;
}

.title__image--style,
.time__image--style {
  margin-right: 5px;
}

.lowerContent__time--container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.time__content--style {
  color: var(--Soft-blue);
}

.lower__creator {
  color: var(--Soft-blue);
}

.creator--style {
  color: var(--White);
}

.creator--style:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.lowerContent__lower--container {
  display: flex;
  align-items: center;
}

.lower__image--style {
  max-height: 30px;
  margin-right: 10px;
  border-radius: 90px;
  border: 1px solid var(--White);
}

@media only screen and (min-width: 600px) {
  main {
    /* width: 40%; */
    max-width: 350px;
  }
}
